###################
# PostgreSQL Database
###################

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

POSTGRES_URL=http://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}


###################
# API URL
###################

API_PORT=8000
API_URL=http://localhost:${API_PORT}